body, html {
    background-color:#e6e6e6;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin: 0;
  }
  
  nav {
    position: fixed;
    right: 24px;
    top: 16px;

    #myLinks {
        position: fixed;
        right: 0px;
        top: 50px;
        display: none;
        flex-direction: column;
        background-color: white;
        border: black 4px solid;
        border-right: none;
        padding: 0px;
        list-style-type: none;
        padding: 16px;

        li {
            display: block;
            padding: 12px;
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    #menu_icons {
        background-color: rgba($color: #000000, $alpha: 0.0);
        font-size: 48px;
        color: black;
    }
  } 


  .card {
      background-color: white;
      border: solid 4px black;
      margin: 8px 12px 8px 4px;
      padding-bottom: 40px;

    .titleBox {
        border-bottom: black solid 4px;
        background-color: #6699cc;
        margin-bottom: 16px;

        h1 {
            margin: 0;
            padding: 8px;
        }
    }
  }

  i {background-color: #eecd81;}

  #homeCard {
        padding: 8px;    
        background-color: white;
        border: solid 4px black;
        margin: 8px 12px 8px 4px;
        min-height: 600px;
    }

  #homeIMG
  {
    border: black 4px solid;
    width: 80%;
    min-height: 300px;
    background-color: #33cc99;
  }

  #aboutIMG
  {
    border: black 4px solid;
    width: 80%;
    min-height: 120px;
    background-color: #33cc99;
    margin: auto;
    margin-bottom: 20px;
  }

  .card {
    a,p,h2 {
        margin: auto;
        padding: 0px 16px;
    }
  }
  
  .projectIMG {
      background-color: #33cc99;
      border: black solid 4px;
      width: 90%;
      margin: auto;
      height: 100px;
  }

  .projectLinks {
        display: flex;
        margin: 12px;
        padding-bottom: 36px;
    }

  .projectLinks > a {
      display: block;
      border: black 4px solid;
      padding: 8px;
      margin: auto;
  }

#email {
    display: block;
    margin: 12px 0px;
    font-size: 16px;
}

#socialLinks {
    display: flex;
    padding: 0;
    margin: 8px;

    a {
        display: block;
        padding: 4px 4px;
    }
}

#resume { 
    margin: 32px 16px;

    a {
        border: black 4px solid;
        padding: 12px 18px;
        background-color: #eecd81;
        font-weight: bold;
        font-size: 16px;
    }
}

footer {min-height: 200px;}

footer > p {text-align: center;}

