body, html {
    background-color:#e6e6e6;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin: 0;
  }
  
  nav {
    position: fixed;
    right: 20px;
    top: 4px;
    z-index: 1;

    #myLinks {
        position: fixed;
        right: 0px;
        top: 40px;
        display: none;
        flex-direction: column;
        background-color: white;
        border: black 4px solid;
        border-right: none;
        padding: 0px;
        list-style-type: none;
        padding: 16px;
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.4);

        li {
            display: block;
            padding: 12px;
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    #menu_icons {
        background-color: rgba($color: #000000, $alpha: 0.0);
        font-size: 48px;
        color: black;
    }
  } 

.titleBox {
    border-bottom: black solid 4px;
    background-color: #6699cc;
    border: solid 4px black;
    margin: 8px 12px 0px 4px;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.3);

    h1 {
        margin: 0;
        padding: 8px 16px;
        color:white;
    }
}

.card {
    background-color: white;
    border: solid 4px black;
    border-top: none;
    margin: 0px 12px 12px 4px;
    padding: 40px 0px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.2);

    a,p,h2 {
        margin: auto;
        padding: 0px 24px;
    }

    h2 { font-size: 28px;}
}

i {background-color: #eecd81;}

#homeCard {
        padding: 8px;    
        background-color: white;
        border: solid 4px black;
        margin: 0px 12px 12px 4px;
        min-height: 600px;
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);

        #name {
            font-size: 32px;
            margin: 12px 0px;
        }

        #title {
            font-size: 24px;
            margin: 8px 0px;
        }

        h1, h2, p {
            padding: 0px 48px 0px 12px;
        }

        #construction {color:red;}
    }

  #homeIMG
  {
    border: black 4px solid;
    width: 80%;
    min-height: 300px;
    background-color: #33cc99;
  }

  #about {background-color: #6699cc}

  #aboutIMG
  {
    border: black 4px solid;
    width: 80%;
    min-height: 120px;
    background-color: #33cc99;
    margin: auto;
    margin-bottom: 20px;
  }

  #projects {background-color:#33cc99}
  
  .projectIMG {
      background-color: #eecd81;
      border: black solid 4px;
      width: 90%;
      margin: auto;
      height: 100px;
      margin-top: 8px;
  }

  .projectLinks {
        display: flex;
        margin: 12px;
        padding-bottom: 12px;
    }

  .projectLinks > a {
      display: block;
      border: black 4px solid;
      padding: 8px;
      margin: auto;
  }

  #connected {background-color: #d65c5c;}
  
#email {
    display: block;
    margin: 12px 0px 100px 0px;
    font-size: 16px;
}

#socialLinks {
    display: flex;
    padding: 12px 0px 24px 0px;

    a {
        display: block;
        padding: 4px 4px;
        width: 48px;
        height: 48px;
    }
}

#resume { 
    margin: 32px 16px 100px 16px;

    a {
        border: black 4px solid;
        padding: 12px 18px;
        background-color: #eecd81;
        font-weight: bold;
        font-size: 16px;
    }
}

footer {min-height: 300px;}

footer > p {text-align: center;}

